mat-card{
width: 400px;
background-color:#00ffe712;
}
.padding{
    text-align: -webkit-center;
    margin-top: 2%;
}
mat-form-field{
    width: 100%;
}
h3{
    text-align: center;
}

.mat-raised-button:hover{
    background-color: green;
    
}